{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "new-cap":"off",
    "no-await-in-loop": "warn",
    "unicorn/no-useless-undefined": "off",
    "unicorn/no-static-only-class": "off" 
  }
}
